<!DOCTYPE html>
<html  ng-app="myApp"   >


<head>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>
        body { padding-top:50px; }
    </style>

	<link rel="stylesheet" type="text/css" href="./styles/style.css">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Story Monument App</title>

    <!-- Bootstrap -->
    <link href="styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Mes styles css -->
	<link href="styles/css/styles.css" rel="stylesheet">

	<!-- script angular -->
  <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script type="text/javascript" src="js/scriptAngular.js"></script>
  <script type="text/javascript" src="js/angular-image-compress-master/angular-image-compress.js"></script>

    <!-- fin script angular -->
</head>

<body ng-controller="MainController" >


  <script type="text/javascript" src="js/scriptAngular.js">

  </script>
    <!-- fin script angular -->
  <script type="text/javascript" src="js/jspdf.debug.js"></script>
      <script>
function demoFromHTML() {
    var doc = new jsPDF();
    doc.text(20, 20, 'Hello world!');
    doc.text(20, 30, 'This is client-side Javascript, pumping out a PDF.');
    doc.text(20, 40, 'Do you like that?');

    doc.setFillColor(255,0,0);
    doc.rect(500, 500, 50, 50, 'F');

// Output as Data URI
    doc.output('datauri');
}
</script>
</head>

<body ng-controller="MainController">




        <div class="jumbotron">
            <div class="container text-center">
                <h1><img src="icone_svg/arc-de-triomphe.svg" height="70" style="margin-top:-10px;"> Story Monument <img src="icone_svg/louvre.svg" height="70" style="margin-top:-10px;"></h1>
                <p>Fan d'histoire ? Localisez les monuments historiques les plus marquants de France!</p>
                <button ng-click="GETobtenirRegions()" style="background-color:#7FC6BC;;" class="btn btn-lg btn-option" type="button" data-toggle="collapse" data-target="#collapseRechercher" aria-expanded="false" aria-controls="collapseRechercher">
        				<span  style="font-size: 25px;" class="glyphicon glyphicon-search"></span>
				Rechercher
			</button>
            </div>
			<form method="post" action="svg-map">
			
			<input type="button" name="lien1" value="SVG MAP Regions " onclick="self.location.href='svg-map/index.html'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick>
			</form>
        </div>



        <!-- CORPS -->
        <div class="container" >
		<!-- ACTION BOUTONS COLLAPSES -->

<div class="row">
	<div class="col-md-10 col-md-offset-1">
    <svg id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"/>

		<div class="collapse" id="collapseRechercher">
			<div class="well" >

				<fieldset>

          <div class="from-group form-group-sm">
                              <label for="selectRegion" ng-show="regions">Regions</label>
                              <select id="selectRegion" class="form-control"  ng-show="regions">
                                  <option ng-click="GETobtenirDepartementsInRegion(region)" ng-repeat="region in regions"><h3>{{region}}</h3></option>
                              </select>
                              <br>
                              <label for="selectDept" ng-show="departementsInRegion">Departements</label>
                              <select id="selectDept" class="form-control"  ng-show="departementsInRegion">
                                  <option ng-click="GETobtenirMonumentsDansDepartement(departement)" ng-repeat="departement in departementsInRegion"><h3>{{departement}}</h3></option>
                              </select>
                              <br>
                              <label for="selectMonu" ng-show="monumentsInDepartement">{{monumentsDepartement.length}} monuments trouvés</label>
                              <select id="selectMonu" class="form-control"  ng-show="monumentsInDepartement">
                                  <option ng-click="GETobtenirCoordonneesGPSDuMonument(monuments[0],monuments[1],monuments[2],monuments[3],monuments[4],monuments[5])" ng-repeat="monuments in monumentsInDepartement"><h3>{{monuments[0]}}</h3></option>
                              </select>
                              <br>

                          </div>
				</fieldset>
			</div>
		</div>
            <div class="row">

                <!-- DIV DU CONTENU -->
                <div ng-show="image" class="col-xs-12 col-sm-7 col-md-6">
                    <!-- DIV PANEL -->
                    <div class="">
                        <div class="col-xs-12" style="background-color:#fff;padding-bottom:15px;">
                            <div style="text-align : left;" class="lead text-center">
                                Informations sur le monument sélectionné
                                <br>
                                <b>{{nomMonu}}</b>
                                <br>
                                <b>Ville :</b>  {{comMonu}}
                                <br>
                                <b>Region :</b>  {{regMonu}}
                                <br>
                                <b>Status :</b>  {{statMonu}}
                                <br>
                                <b>Epoque :</b>  {{epoqueMonu}}
                                <br>
                                <b>Pourcentage des monuments français dans le département du {{departement}} : </b>{{formatNumber(monumentsDepartement.length/nbMonumentsinDB)}}%
                            </div>

                            <div class="from-group form-group-sm">
                                <a target="_blank" href={{image}} class="btn btn-link" role="button">Afficher photo</a>
                                <button onclick="javascript:demoFromHTML()">PDF</button>
                            </div>
                        </div>
                    </div>
                    <!-- FIN DIV PANEL -->
                </div>
                <!-- DIV POUR LA MAP -->
                <div ng-show="image" class="col-xs-12 col-sm-7 col-md-6">
                    <div id="map"></div>
                </div>
            </div>






            <div class="row text-center">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/arenes-de-nimes-thumb.jpg" alt="monument" width="400" height="300">

                        <p>Arenes Nimes</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/chateau-des-ducs-bretagne-thumb.jpg" alt="monument" width="400" height="300">

                        <p>Charteau Bretagne</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/basilique-de-fourviere.jpg" alt="monument" width="400" height="300">

                        <p>Basilique Fourviere</p>
                    </div>
                </div>




                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/basilique-saint-nicolas-nantes-thumb.jpg" alt="monument" width="400" height="300">

                        <p>Basilique Nantes</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/cathedrale-de-chartres.jpg" alt="monument" width="400" height="300">

                        <p>cathedrale chartres</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/chateau-de-chambord-thumb.jpg" alt="monument" width="400" height="300">

                        <p>Chateau Chambord</p>
                    </div>
                </div>
            </div>








        </div>

















	<!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Copyright © 2016 <strong>Aichatou</strong>. All rights reserved.</p>
            </div>
        </footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="styles/bootstrap/js/bootstrap.min.js"></script>
	<!-- Script pour la Map -->
    <script>
		function initMap() {
			var myLatLng = {lat: -25.363, lng: 131.044};
			var map = new google.maps.Map(document.getElementById('map'), {
				center: myLatLng,
				scrollwheel: false,
				zoom: 6
			});
		}

		function placerMarkers(latLng, img, nom) {
			var myLatLng = {lat: parseFloat(latLng[1]), lng: parseFloat(latLng[0])};
			var map = new google.maps.Map(document.getElementById('map'), {
				center: myLatLng,
				scrollwheel: false,
				zoom: 16
			});
			var marker = new google.maps.Marker({
				map: map,
				position: myLatLng,
			});
		}
		</script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcVwYXpSfbjWnaRAUvYPjgRY9MulFoaRk&callback=initMap">
    </script>


</body>

</html>
