<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="./styles/style.css">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Story Monument App</title>

    <!-- Bootstrap -->
    <link href="styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Mes styles css -->
	<link href="styles/css/styles.css" rel="stylesheet">

	<!-- script angular -->
  <script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  <script type="text/javascript">
  var myApp = angular.module('myApp',[]);
  myApp.controller('MainController', ['$scope', '$http', function($scope, $http) {
    $scope.GETobtenirRegions = function() {
      $http({
        method : 'GET',
        url : 'http://localhost:1337/obtenirRegions',

        headers: {
          'Content-Type': 'application/JSON'
        },
      }).then(
          function successCallback(response) {
          $scope.regions = response.data; // On stock le JSON obtenu par le WebService
          },
          function errorCallback(response) {
            alert("Echec de l'import des régions");
        })
     };
		 /*$scope.GETObtenirDepartement = function() {
			 $http({
         method : 'GET',
         url : 'http://localhost:1337/obtenirDepartement',

         headers: {
           'Content-Type': 'application/JSON'
         },
       }).then(
           function successCallback(response) {
           $scope.regions = response.data; // On stock le JSON obtenu par le WebService
           },
           function errorCallback(response) {
             alert("Echec de l'import des départements");
         })
      };*/
		 }
  }]);
  </script>
    <!-- fin script angular -->
</head>

<body ng-controller="MainController">
	<div id="bandeau">
		<div>
		<h1>Application cliente de visualisation de Monuments</h1>
		<!--<img id="chapeau" src="images/chapeau.jpg" alt="image"  width="100px" height="50px" >-->
		</div>
	</div>
		<div id="contenu">
			<h2> Bienvenue ! Localiser facilement les monuments historiques en France et par régions <img id="icone" src="images/icone.jpg" alt="icone"  width="70px" height="50px"></h2>
		</div>
	<div id="menu">
 <button ng-click="GETobtenirRegions()">Obtenir Régions</button>
  <ul ng-show="regions">
    <h2>{{regions.length}} regions<h2>
    <li ng-repeat="region in regions">
      <a href=""><h4 ng-click="GETObtenirDepartement()">{{region}}</h4></a>
    </li>
  </ul>
   </div>
   <div id="piedpage">
		<div>
			<h3>Master MIAGE </h3><br>
			<!--<img  id ="logo-miage"src="images/logo_miage.png" alt="logo miage Nice"  width="70px" height="30px">
			<img  id="logo-univ"src="images/logo-univ.png" alt="logo univ Nice"  width="70px" height="30px">-->
			<i>Université de Nice-Sophia Antipolis 2016-2017</i>
			</div>
  </div>



        <div class="jumbotron">
            <div class="container text-center">
                <h1><img src="icone_svg/arc-de-triomphe.svg" height="70" style="margin-top:-10px;"> Story Monument <img src="icone_svg/louvre.svg" height="70" style="margin-top:-10px;"></h1>
                <p>Localisé les monuments Historique de la France!</p>
            </div>
        </div>

        <!-- CORPS -->
        <div class="container">
            <div class="row">
                <!-- DIV DU CONTENU -->
                <div class="col-xs-12 col-sm-6 .col-md-6">
                    <!-- DIV PANEL -->
                    <div class="">
                        <div class="col-xs-12" style="background-color:#fff;padding-bottom:15px;">
                            <div class="lead text-center">
                                <h3 class="">Application de visualisation de Monuments</h3>
                                Bienvenue! Localiser facilement les monuments de France

                            </div>

                            <div class="from-group form-group-sm">
                                <button ng-click="GETobtenirRegions()">Obtenir Régions</button>
				<ul ng-show="regions">
					<h2>{{regions.length}} regions<h2>
					<li ng-repeat="region in regions">
					<h3>{{region}}</h3>
					</li>
				</ul>
                                <label for="sel1">Selectionner un monument:</label>
                                <select class="form-control">
                                    <option>Paris</option>
                                    <option>Monument 2</option>
                                    <option>Monument 3</option>
                                    <option>Monument 4</option>
                                    <option>Monument 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- FIN DIV PANEL -->
                </div>
                <!-- DIV POUR LA MAP -->
                <div class="col-xs-12 col-sm-7 col-md-6">
                    <div id="map"></div>
                </div>
            </div>






            <div class="row text-center">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/arenes-de-nimes-thumb.jpg" alt="monument" width="400" height="300">
                        <a href="#" class="btn btn-link" role="button">Link</a>
                        <p>Arenes Nimes</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/chateau-des-ducs-bretagne-thumb.jpg" alt="monument" width="400" height="300">
                        <a href="#" class="btn btn-link" role="button">Link</a>
                        <p>Charteau Bretagne</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/basilique-de-fourviere.jpg" alt="monument" width="400" height="300">
                        <a href="#" class="btn btn-link" role="button">Link</a>
                        <p>Basilique Fourviere</p>
                    </div>
                </div>




                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/basilique-saint-nicolas-nantes-thumb.jpg" alt="monument" width="400" height="300">
                        <a href="#" class="btn btn-link" role="button">Link</a>
                        <p>Basilique Nantes</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/cathedrale-de-chartres.jpg" alt="monument" width="400" height="300">
                        <a href="#" class="btn btn-link" role="button">Link</a>
                        <p>cathedrale chartres</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="images/chateau-de-chambord-thumb.jpg" alt="monument" width="400" height="300">
                        <a href="#" class="btn btn-link" role="button">Link</a>
                        <p>Chateau Chambord</p>
                    </div>
                </div>
            </div>



        </div>



















	<!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Copyright © 2016 <strong>Aichatou</strong>. All rights reserved.</p>
            </div>
        </footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="styles/bootstrap/js/bootstrap.min.js"></script>
	<!-- Script pour la Map -->
    <script src="styles/scriptMap/map.js"></script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcVwYXpSfbjWnaRAUvYPjgRY9MulFoaRk&callback=initMap">
    </script>


</body>

</html>
